/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 44em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.home-link {
	flex-grow: 1;
	font-size: 2em; /* 16px /16 */
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}

.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

.post-card {
	margin-bottom: 1em;
}

.post-preview {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-info {
  flex: 1;
}

.post-featured-image{
	margin: 1em;
}

.post-featured-image-thumb {
  width: 150px;
  height: 150px;
  aspect-ratio: 1 / 1;   /* ensures square shape */
  object-fit: cover;     /* crops image to fill square without distortion */
  display: block;
  border-radius: 0.5rem; /* optional: rounded corners */
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
	text-decoration: none;
}

a.post-tag,
a.post-tag:visited,
a.post-tag:hover,
a.post-tag:active {
  color: #dad8d8;
}

.postlist-item > .post-tag {
	align-self: center;
}

.post-title {
	margin-bottom: 5px;
}

/* Post metadata - Date & tag list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	font-size: 80%;
}

.post-metadata time {
	margin-right: 1em;
}

#main-photo-gallery {
  padding: 1rem;
  margin: 2rem 0;
  border: 2px solid #2a3a4a;
  border-radius: 0.5rem;
  background-color: #1c2736;
  color: #f0f0f0;
}

#main-photo-gallery .post-gallery {
	margin-bottom: 15px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-grid figure {
  margin: 0;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: #1f2e40;
  transition: transform 1s, box-shadow 1s, opacity 1s;
  opacity: 1; /* default visible */
}

.gallery-grid figure.hidden {
  opacity: 0;
  pointer-events: none; /* avoid clicks on hidden figures */
}

.gallery-grid figure:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.gallery-grid figcaption {
  color: #f0f0f0;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.25rem 0;
}

/* Pagination buttons */
#photo-pagination button {
  cursor: pointer;
  background: #1f2e40;
  border: 1px solid #37475a;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  color: #f0f0f0;
  transition: background 0.2s;
}
#photo-pagination button.active {
  background: #f0f0f0;
  color: #1c2736;
}
#photo-pagination button:hover {
  background: #37475a;
}

/* .gallery-grid > * {
  transition: opacity 1.5s;
} */

.gallery-grid figure {
  margin: 0;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pswp__dynamic-caption--below {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  font-size: 0.9rem;
  gap: 0.25rem;
	max-width: 1000px;
  padding: 15px 0 0;
}

.pswp__dynamic-caption--below .caption-text {
  flex: 1;
  text-align: left;
}

.pswp__dynamic-caption--below .caption-camera {
	text-align: right;
  white-space: nowrap;
  font-size: 0.85rem;
  color: #a3a3a3;
}

.caption {
	font-size: 0.9rem;
  gap: 0.25rem;
}

.nav-page {
	padding-top: 20px;
	display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.nav-page .previous-page {
	flex: 1;
	text-align: left;
}

.nav-page .next-page {
  text-align: right;
  white-space: nowrap;
}