---
pagination:
  data: galleriesArray
  size: 1
  alias: galleryInfo
permalink: "galleries/{{ galleryInfo.year }}/{{ galleryInfo.name | slug }}/page/{{ galleryInfo.page }}/index.html"
eleventyComputed:
  title: "{{ galleryInfo.name }} ({{ galleryInfo.year }})"
---

<h1>{{ title | replace("-", " ")}} Photos</h1>

<div class="post-gallery" data-pswp-gallery>
  <div class="gallery-grid">
    {% for image in galleryInfo.images %}
      {% photo image, galleryInfo.year, galleryInfo.name | lower | replace(",", "") %}
    {% endfor %}
  </div>
</div>
<nav class="nav-page">
  <div class="previous-page">
    {% if galleryInfo.page > 1 %}
      <a href="../../page/{{ galleryInfo.page - 1 }}/"><i class="fa-solid fa-caret-left fa-2xl"></i></a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>
  <div class="next-page">
    {% if galleryInfo.page < galleryInfo.totalPages %}
      <a href="../../page/{{ galleryInfo.page + 1 }}/"><i class="fa-solid fa-caret-right fa-2xl"></i></a>
    {% else %}
      &nbsp;
    {% endif %}
  </div>
</nav>