---
title: "Photos"
layout: "layouts/base.njk"
eleventyNavigation:
  key: Photos
  order: 2
---

<h1>{{ title or metadata.title }}</h1>

{% set years = galleries | keys | sort | reverse %}
{% for year in years %}
  {% set galleriesForYear = galleries[year] %}
  <h2>{{ year }}</h2>
  <ul>
    {% for name in galleriesForYear | keys %}
      <li>
        <a href="/galleries/{{ year }}/{{ name | slug }}/page/1/">
          {{ name | replace("-", " ") | title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}