{%- for post in postslist | reverse %}
	<article class="post-card">
		<div class="post-preview">
			<a href="{{ post.url }}">
				{% if post.data.featuredImage %}
					{% set photoUrl = [post.url, post.data.featuredImage] | join %}
					{% thumbnail photoUrl, "post-featured-image-thumb" %}
				{% endif %}
			</a>
			<div class="post-info">
				<h2 class="post-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
				<ul class="post-metadata">
					<li><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time></li>
					{%- for tag in post.data.tags | filterTagList %}
					{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
					<li><i class="fa-solid fa-tag"></i>&nbsp;<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
					{%- endfor %}
				</ul>
			</div>
		</div>
	</article>
{%- endfor %}
